{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Python Assignment</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/node_modules/ngx-bootstrap/datepicker/bs-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" />
</head>
<body>
  <div>
    {% block content %}{% endblock %}
  </div>
</body>
</html>
